*{
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

main{   
    background-color: rgb(58, 127, 218);
    color: black;
    }

header, footer{
    background-color: white;
}
header{
    display: flex;
    justify-content:space-between;
}

header nav a{
    border: 0.1em solid black;
    background-color: white;
    padding: 1vw;   
    /*margin:-0.2em;*/
}

.secciones{
    display: flex;
    align-self:flex-start;
}

header nav a:hover{
    border: 0.1em solid black;
    background-color: blue;
    padding: 1vw;
    color: white;
    transition-property: all;
    transition-duration: 10ms;
}

img{
    width: 20%;
}

footer{
    text-align: center;
}

.carousel-inner img {
    width: 70%;
    height: 70%;
    margin-left: 15%;
}

.nosotros{
    display: flex;
    justify-content: space-around;
}

.personal{
    display: grid;
  grid-template-columns: auto auto auto;

}

.sedes{
    display: flex;
    justify-content: space-around;
}

.tratamientos h1, h4{
    text-align: center;
}

.deportiva,.mep, .rpg{
    display: flex;
}

.osteopatia, .taping,.rehab{
    display: flex;
    flex-direction: row-reverse;
}


form{
    margin-left: 1em;
}

/*Para celulares*/
@media screen and (max-width: 640px) {
     
header img{
    display: none;
}
header nav{
    display: flex;
    flex-direction: column;
    width: 100vw;
}


.nosotros{
    flex-direction: column;
}

.personal{
    display: grid;
  grid-template-columns: auto auto;

}

.personal span{
    margin-top: 1em;
}

.tratamientos span{
    display: block;
}

.tratamientos img{
    width: 50%;
    margin-left: 20vw;
    margin-right: auto;
}

.sedes{
    flex-direction: column;
}
}
/*Para Tablets*/
@media screen and (min-width: 640px) and (max-width: 1280px) {}