*{
    margin: 0;
}

main{   
    background-color: rgb(58, 127, 218);
    color: black;
    }

header, footer{
    background-color: white;
}
header{
    display: flex;
    justify-content:space-between;
}

header nav a{
    border: 0.1em solid black;
    background-color: white;
    padding: 1vw;   
    /*margin:-0.2em;*/
}

.secciones{
    display: flex;
    align-self:flex-start;
}

header nav a:hover{
    border: 0.1em solid black;
    background-color: blue;
    padding: 1vw;
    color: white;
    transition-property: all;
    transition-duration: 10ms;
}

img{
    width: 20%;
}

footer{
    text-align: center;
}

.nosotros{
    display: flex;
    justify-content: space-around;
}

.personal{
    display: grid;
  grid-template-columns: auto auto auto;

}

.sedes{
    display: flex;
    justify-content: space-around;
}

.tratamientos h1, h4{
    text-align: center;
}

.deportiva,.mep, .rpg{
    display: flex;
}

.osteopatia, .taping,.rehab{
    display: flex;
    flex-direction: row-reverse;
}
